.gibby {
  height: 70px;
}
.brand {
  color: #292F36;
}
.first-carousel {
  width: 600px;
}
.whole-carousel {
  background-color: #BEBBB6;
}
.nav-color {
  background-color: #46413B;
}
.whole-damn-body {
  background-color: #F7F7F5;
}
.btn-outline-color {
  border-color: #020204;
  color: #020204;
}
